html
{
    font-size: 15px;
}
*
{
    margin: 0px;
    padding: 0px;

}
body
{
    background-image: url("repeated-square.png");
}

.container
{
    justify-content: center;
    align-content: center;
    min-width: 22rem;
    max-width: 24rem;
    width: 50%;
    height: 25rem;
    background-color: black;
    margin: 5rem auto;
    border: solid #3e3e44;
    border-radius: 1.7rem;
    height: 35rem;
    padding: 0.5rem;
}
.top
{
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.keyboard
{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 29rem;

}
button
{
    width: 5rem;
    height: 5rem;
    background-color: antiquewhite;
    font-size: 2rem;
    border: solid 2px #a19595;
    border-radius: 0.75rem;

}
button:active
{
    background-color: rgb(189, 186, 179);
    border-color: #5e5d58;
}
#screen
{
    width: 80%;
    height: 4rem;
    font-size: 3.5rem;
    border-radius: 0.5rem;
    text-align: right;
    border: 2px solid #7db3ee;
    background-color: azure;
    padding-right: 0.5rem;
}
.num
{
    background-color: rgb(248, 180, 31);
    border-color: #bb761c;
    color: #9c2222;
}
.num:active
{
    background-color: rgb(217, 161, 27);
    border-color: #ad1302;
    color: #ad1302;
}
#equals
{
    background-color: #e07520;
    border-color: #fd3100;
    color: #150606;
    -webkit-box-shadow: 0px 0px 5px 3px rgb(177, 48, 48);
    box-shadow:         0px 0px 5px 3px rgb(177, 48, 48);
}
#equals:active
{
    background-color: #e06320;
    border-color: #c42702;
    color: #150606;
    -webkit-box-shadow: 0px 0px 5px 4px rgb(184, 38, 38);
    box-shadow:         0px 0px 5px 4px rgb(184, 38, 38);
}
